p{
    background-color:rgb(184, 145, 227);
}
 a{
    background-attachment: #f0a7a7;
 }
 h2{
 color: rgb(77, 6, 76);
 }
 #box1{
border: 3px rgb(120, 120, 68) solid;
width: 300px;
height: 300px;
background-color: aquamarine;
position:fixed;
top: 19px;
left: 100px;
 

 }
 #box2{ 

border: 3px rgb(120, 120, 68) solid;
width: 100px;
height: 100px;
background-color: rgb(35, 85, 69);
position: absolute;

top: 690px;
left: 205px;
 



 }
 button{
    background-color: azure;
    font-style: italic;
 }
 button:hover{
    color: cadetblue;
 }